@model Core.Mvc.ViewModel.Account.LogOnViewModel
@{

    Layout = null;
}


<div id='dw_loginDiv' class="k-block k-info-colored" kendo-window="loginPopup"
     k-title="'ورود به سیستم'"
     k-width="300"
     k-height="380"
     k-resizable="false"
     k-scrollable="false"
     k-padding="0"
     k-actions="[]"
     @*k-close="{{isAuthorize}}"*@>
    @*k-activate="orderWindows"*@

    <form action="/core/Account/LogOn" method="post">

        @Html.ValidationSummary()

        <div id="loginForm">
            <img src='@(string.Format("Areas/{0}/Content/images/login-user.jpeg", new CoreAreaRegistration().AreaName))' style="height: 60px; border-radius: 3px; float: right;" />
            <div class="part">

                <p>
                    @Html.LabelCrFor(m => m.UserName)
                    @Html.TextBoxCrFor(m => m.UserName, htmlAttributes: new Dictionary<string, object> { { "ng-model", "userName" },
                   { "placeholder", "User Name" }, { "ng-change","setDomain($event)" } })
                    <label ng-show="domain">Domain: {{domain}}</label>
                </p>

                <p>
                    @Html.LabelCrFor(m => m.Password)
                    @*@Html.PasswordCrFor(m => m.Password, htmlAttributes: new Dictionary<string, object> { { "ng-model", "password" } })*@

                    <input class="k-textbox" data-val="true" placeholder="Password" ng-model="password" data-val-required="کلمه عبور را وارد کنید" id="Password" name="Password" type="password">

                </p>
                <p>
                    @Html.CheckBoxCrFor(m => m.RememberMe)
                    @Html.LabelCrFor(m => m.RememberMe)
                </p>

                <div style="margin: 15px;">

                    <core-captcha captcha-encrypted="captchaEncrypted" captcha-entered="captchaEntered" refresh-image="refreshImage"></core-captcha>


                </div>

            </div>
            <div class="part" style="padding-right: 14px;">

                <input class="k-button" default="" id="btnLogin" ng-click="logOnClick()" type="button" value="ورود به سیستم">
            </div>

        </div>
    </form>
</div>




