@model Core.Mvc.ViewModel.Account.ChangeUserPasswordViewModel



@{
    ViewBag.Title = "تغییر رمز عبور";
    Layout = null;
}
@using (Html.BeginForm(new { id = "myform" }))
{
    @Html.AntiForgeryToken()
  
    <div id="frmChangeUserPass" style="margin-right: 10px;">
        <div class="editor-label">
            @Html.LabelFor(a => a.Password)
        </div>
        <div class="editor-field">
            @Html.PasswordCrFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>
        <div class="editor-label">
            @Html.LabelCrFor(a => a.NewPassword)
        </div>
        <div class="editor-field">
            @Html.PasswordCrFor(model => model.NewPassword, true)
            @Html.ValidationMessageFor(model => model.NewPassword)
        </div>
        <div class="editor-label">
            @Html.LabelCrFor(a => a.ConfirmPassword)
        </div>
        <div class="editor-field">
            @Html.PasswordCrFor(model => model.ConfirmPassword)
            @Html.ValidationMessageFor(model => model.ConfirmPassword)
        </div>
    </div>   
    
    @Html.HiddenFor(model => model.Id)
    
}










